.main-box {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.padding {
    padding: 1rem;
    width: fit-content;
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
    margin-right: 2rem;
}

.width-fit {
    width: fit-content;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.circle {
    transition: all 125ms ease-in-out;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 4px solid #3f51b5;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    transition: all 125ms ease-in-out;
    scale: 1.1;
}

.done {
    transition: all 125ms ease-in-out;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #3f51b5;
}

.todo {
    transition: all 125ms ease-in-out;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #ff4081;
}

.current {
    border: 4px solid #ff4081;
}