.container {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: fit-content;
    z-index: 6;
}

.expand {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: 5;
}

.sidenav {
    width: 250px;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        top: 56px;
        height: calc(100% - 56px);
    }
}