<mat-drawer-container class="container">
    <mat-drawer #snav class="sidenav" mode="side">
        <p class="flex-row font-size"><img src="../../../assets/logo.svg" alt="logo"> Treffpunkt</p>
        <p class="bold">CRM Hauptmenü</p>
        
        <div class="column">
            <button (click)="showFiller = !showFiller" mat-button (click)="open('/dashboard')" appBtnSidenav>
                <mat-icon>home</mat-icon> Dashboard
            </button>
            <button (click)="showFiller = !showFiller" mat-button (click)="open('/kunden')" appBtnSidenav>
                <mat-icon>contact_mail</mat-icon> Kunden
            </button>
            <button (click)="showFiller = !showFiller" mat-button (click)="open('/auftraege')" appBtnSidenav>
                <mat-icon>description</mat-icon> Aufträge
            </button>
            <button (click)="showFiller = !showFiller" mat-button (click)="open('/produkte')" appBtnSidenav>
                <mat-icon>sell</mat-icon> Produkte
            </button>
        </div>
        
    </mat-drawer>
</mat-drawer-container>

<div class="" [ngClass]="{'expand' : snavservice.toggled}" (click)="toggle()">

</div>