.main-box {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

h2 {
    font-size: 1.5rem;
}

.bg-light {
    background-color: #e5e5e5;
}

.bg-dark {
    background-color: #3f3c3c;
}

.width-250 {
    font-weight: bold;
    text-decoration: underline;
    width: 250px;
    text-align: center;
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    ::-webkit-scrollbar {
        width: 0px;
    }
    scrollbar-width: none;
    box-sizing: border-box;
    height: calc(100vh - 40px - 32px - 16px - 40px - 16px);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}

.flex-column-nogap {
    display: flex;
    flex-direction: column;
}

.hover-dark {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    width: 250px;
    max-width: 250px;
}

.hover-light {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    width: 250px;
    max-width: 250px;
}

.hover-light:hover {
    transition: all 125ms ease-in-out;
    background-color: #ccc;
}

.hover-dark:hover {
    transition: all 125ms ease-in-out;
    background-color: #303030;
}

.scale {
    transition: all 125ms ease-in-out;
}

.scale:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.1);
}

::ng-deep .mat-mdc-menu-panel {
    max-height: 300px;
    border: 1px solid #ccc;
}

.column {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 40px - 32px - 16px - 40px - 16px - 55px);
    padding: 0.25rem;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        width: 0px;
    }
    scrollbar-width: none;
}

@media screen and (max-width: 600px) {
    .scroll {
        height: calc(100vh - 40px - 32px - 16px - 40px - 8px);
    }

    .column {
        height: calc(100vh - 40px - 32px - 16px - 40px - 16px - 55px);
    }
    
}