<section class="main-box">
    <h1>Auftragsübersicht</h1>

    <div>
        <mat-card>
            <mat-card-content class="flex-row scroll" [class.bg-dark]="ts.darkTheme" [class.bg-light]="!ts.darkTheme">

                <div *ngFor="let option of statusOptions; index as i" class="flex-column">
                    <span class="width-250">{{option}}</span>

                    <div class="column" (drop)="drop((i+1).toString())" (dragover)="dragOver($event)">
                        <div *ngFor="let task of fs.tasks | async | todo: (i + 1)" (click)="navigateToTask(task.fid)" draggable="true" (dragstart)="dragStart(task)">

                            <mat-card [class.hover-dark]="ts.darkTheme" [class.hover-light]="!ts.darkTheme">
                                <mat-card-header class="flex-column-nogap">
                                    <span>#{{task.id}} {{task.title}}</span>
                                </mat-card-header>
                                <mat-card-content class="flex-column-nogap">
                                    <p>{{formatCustomer(task.unternehmen)}}</p>
                                    <!-- Contextmenu to change status of task -->
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let option of statusOptions; index as i" (click)="changeStatus(task, (i + 1).toString())">{{option}}</button>
                                    </mat-menu>

                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '1'" class="scale"
                                        appStatusOrange>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '2'" class="scale"
                                        appStatusOrange>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '3'" class="scale"
                                        appStatusOrange>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '4'" class="scale"
                                        appStatusOrange>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '5'" class="scale"
                                        appStatusOrange>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '6'" class="scale"
                                        appStatusRed>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '7'" class="scale"
                                        appStatusRed>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '8'" class="scale"
                                        appStatusRed>{{formatStatus(task.status)}}</span>
                                    <span (click)="noBubble($event)" [matMenuTriggerFor]="menu"
                                        *ngIf="task.status == '9'" class="scale"
                                        appStatusGreen>{{formatStatus(task.status)}}</span>
                                </mat-card-content>
                            </mat-card>

                        </div>

                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</section>