<section class="main-box">
    <div class="flex-row">
        <h1>Detailansicht Produkt</h1> <button mat-raised-button [routerLink]="['/produkte']"><mat-icon>keyboard_backspace</mat-icon>Alle Produkte</button>
    </div>
    
<div *ngFor="let product of fs.products | async">
    <mat-card *ngIf="product.fid == productId" class="padding">

        <div class="flex-column">
            <h2>#{{product.id}} {{product.name}}</h2>
        </div>

        <div class="flex-row">
            <div class="flex-column">
                <span class="subtitle">Details </span>
                <span>Stückpreis Netto: {{product.preis | decimal}} €</span>
                <p>Beschreibung: {{product.beschreibung}}</p>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-column">
                <span class="subtitle">Meta</span>
                <span>Erstellt: {{formatDate(product.erstellt) | date: 'medium'}}</span>
                <p>Geändert: {{formatDate(product.geaendert) | date: 'medium'}}</p>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-column">
                <button mat-raised-button color="primary"
                    (click)="openDialog(product)"><mat-icon>edit</mat-icon>Bearbeiten</button>
            </div>
        </div>
    </mat-card>
</div>
    

</section>