<section class="main-box">
    <div class="flex-row"><h1>Produkte</h1><button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Produkt hinzufügen</button></div>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="searchTerm" #input>
    </mat-form-field>


    <div class="mat-elevation-z8 max-size">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row" (click)="selectTask(row.fid)"> {{row.id}} </td>
            </ng-container>

            <!-- Erstellt Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row" (click)="selectTask(row.fid)"> {{row.name}} </td>
            </ng-container>

            <!-- Unternehmen Column -->
            <ng-container matColumnDef="beschreibung">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Beschreibung </th>
                <td mat-cell *matCellDef="let row" (click)="selectTask(row.fid)"> {{row.beschreibung}} </td>
            </ng-container>

            <!-- Anmerkungen Column -->
            <ng-container matColumnDef="preis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stückpreis Netto </th>
                <td mat-cell *matCellDef="let row" (click)="selectTask(row.fid)"> {{formatPrice(row.preis)}} € </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tasks"></mat-paginator>
    </div>
    
</section>