.main-box {
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.max-size {
  display: block;
  width: 100%;
  overflow: auto;
}