<h1 mat-dialog-title>Neuer Auftrag</h1>
<div mat-dialog-content>

    <p>Pflichtfelder: </p>

    <div class="flex-column">
        <mat-form-field>
            <mat-label>Rechnungsnummer</mat-label>
            <input matInput [(ngModel)]="id" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Kunde</mat-label>
            <mat-select required="" [(value)]="unternehmen">
                <mat-option *ngFor="let kunde of fs.customers | async" [value]="kunde.fid">
                    {{kunde.unternehmen}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Posten</mat-label>
            <mat-select required="" multiple="true" (valueChange)="onPostenChange($event)">
                <mat-option *ngFor="let product of fs.products | async" [value]="product.fid">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex-column" *ngIf="posten.length > 0">
            Posten:
            <div *ngFor="let pos of posten; index as i" class="flex-row"><span>{{getProduct(pos.produkt)}} x </span><input type="number"
                    placeholder="1" class="mini-input" (change)="updateCounter($event, i)"></div>
        </div>

        <mat-form-field>
            <mat-label>Anmerkungen</mat-label>
            <input matInput [(ngModel)]="anmerkungen">
        </mat-form-field>

    </div>


</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createTask()" cdkFocusInitial>Ok</button>
</div>