<h1 mat-dialog-title>Neuer Auftrag</h1>
<div mat-dialog-content>

    <p>Pflichtfelder: </p>

    <div class="flex-column">
        <mat-form-field>
            <mat-label>Kunde</mat-label>
            <mat-select required="" [(value)]="newTask.unternehmen">
                <mat-option *ngFor="let kunde of fs.customers | async" [value]="kunde.fid">
                    {{kunde.unternehmen}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="newTask.title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Deadline</mat-label>
            <input matInput [matDatepicker]="picker" required="" [(ngModel)]="newTask.deadline">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Posten</mat-label>
            <mat-select multiple="true" (valueChange)="onChangeProduct($event)" #multiSelect>
                <mat-option *ngFor="let product of fs.products | async" [value]="product.fid">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngFor="let posten of newTask.posten; let i = index">
            <div class="flex-row-space">
                <div class="short">
                    <span matTooltip="{{getProduct(posten.produkt)}}">{{ getProduct(posten.produkt) }}</span>
                </div>
                <div class="flex-row-gap">
                    <input type="number" min="1" class="mini-input" [(ngModel)]="posten.anzahl">
                    <button mat-icon-button (click)="removePosten(i, posten.produkt)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select required="" [(value)]="newTask.status">
                <mat-option value="1">
                    Anfrage
                </mat-option>
                <mat-option value="2">
                    Angebot verschickt
                </mat-option>
                <mat-option value="3">
                    Angebot angenommen
                </mat-option>
                <mat-option value="4">
                    Lieferung abgeschickt
                </mat-option>
                <mat-option value="5">
                    Rechnung verschickt
                </mat-option>
                <mat-option value="6">
                    Zahlungserinnerung
                </mat-option>
                <mat-option value="7">
                    1. Mahnung
                </mat-option>
                <mat-option value="8">
                    2. Mahnung
                </mat-option>
                <mat-option value="9">
                    Bezahlung erhalten
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Anmerkungen</mat-label>
            <input matInput [(ngModel)]="newTask.anmerkungen">
        </mat-form-field>

    </div>


</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createTask()" cdkFocusInitial>Ok</button>
</div>