.flexing {
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.absolute-box {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .flexing {
        top: 56px;
    }

    .absolute-box {
        top: 56px;
    }
    
}