<section class="main-box">
    <div class="flex-row"><h1>Kunden</h1> <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Kunden hinzufügen</button></div>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="searchTerm" #input>
    </mat-form-field>


    <div class="mat-elevation-z8 max-size">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.id}} </td>
            </ng-container>

            <!-- Vorname Column -->
            <ng-container matColumnDef="vorname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.vorname}} </td>
            </ng-container>

            <!-- Nachname Column -->
            <ng-container matColumnDef="nachname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.nachname}} </td>
            </ng-container>

            <!-- Unternehmen Column -->
            <ng-container matColumnDef="unternehmen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unternehmen </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.unternehmen}} </td>
            </ng-container>

            <!-- Unternehmen Column -->
            <ng-container matColumnDef="strasse">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Strasse </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.strasse}} </td>
            </ng-container>

            <!-- Unternehmen Column -->
            <ng-container matColumnDef="plz">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PLZ </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.plz}} </td>
            </ng-container>

            <!-- Unternehmen Column -->
            <ng-container matColumnDef="ort">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ort </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.ort}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.email}} </td>
            </ng-container>

            <!-- Telefon Column -->
            <ng-container matColumnDef="telefon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </th>
                <td mat-cell *matCellDef="let row" (click)="selectCustomer(row.fid)"> {{row.telefon}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>


</section>