<section class="main-box">
    <h1>Kunden</h1>

    <p><button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button></p>
    

    <p *ngIf="fs.customers == null">No customers yet...</p>

    <!-- a simple table -->
    <table>
        <tr>
            <th>id</th>
            <th>vorname</th>
            <th>nachname</th>
            <th>unternehmen</th>
            <th>ort</th>
            <th>strasse</th>
            <th>plz</th>
            <th>email</th>
            <th>telefon</th>
            <th>erstellt</th>
            <th>geändert</th>
        </tr>

        <tr *ngFor="let customer of fs.customers | async" class="hover-row">
            <td>{{ customer.id }}</td>
            <td>{{ customer.vorname }}</td>
            <td>{{ customer.nachname }}</td>
            <td>{{ customer.unternehmen }}</td>
            <td>{{ customer.ort }}</td>
            <td>{{ customer.strasse }}</td>
            <td>{{ customer.plz }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.telefon }}</td>
            <td>{{ formatDate(customer.erstellt) }}</td>
            <td>{{ formatDate(customer.geaendert) }}</td>
        </tr>

    </table>

</section>