.main-box {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }