.main-box {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #3f51b5;
    color: white;
}

.hover-row {
    transition: all 125ms ease-in-out;
    background-color: white;
    cursor: pointer;
}

.hover-row:hover {
    transition: all 125ms ease-in-out;
    background-color: #9299be;
    color: white;
}