<h1 mat-dialog-title>Neues Produkt</h1>
<div mat-dialog-content>

    <p>Pflichtfelder: </p>

    <div class="flex-column">
        <mat-form-field>
            <mat-label>Produktnummer</mat-label>
            <input matInput [(ngModel)]="id" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Beschreibung</mat-label>
            <input matInput [(ngModel)]="beschreibung">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preis Netto</mat-label>
            <input matInput [(ngModel)]="preis">
        </mat-form-field>

    </div>


</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createTask()" cdkFocusInitial>Ok</button>
</div>