.example-is-mobile .example-toolbar {
    position: sticky;
    top: 0;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.hide {
    display: none;
}

.flex-row-space {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.margin-left {
    margin-left: 2rem;
}

.menu {
    display: flex;
}

@media screen and (max-width: 700px) {
    .menu {
        display: none;
    }
}