<mat-toolbar color="primary" class="example-toolbar">
    <div class="flex-row-space">
        <button mat-mini-fab color="accent" (click)="toggleSidenav()" matTooltip="Toggle sidenav">
            <mat-icon [class.hide]="snavservice.toggled">chevron_right</mat-icon>
            <mat-icon [class.hide]="!snavservice.toggled">chevron_left</mat-icon>
        </button>

        <div class="flex-row margin-left menu">
            <button mat-button (click)="open('/dashboard')">
                <mat-icon>home</mat-icon> Dashboard
            </button>
            <button mat-button (click)="open('/kunden')">
                <mat-icon>contact_mail</mat-icon> Kunden
            </button>
            <button mat-button (click)="open('/auftraege')">
                <mat-icon>description</mat-icon> Aufträge
            </button>
            <button mat-button (click)="open('/produkte')">
                <mat-icon>sell</mat-icon> Produkte
            </button>
        </div>

        
        <div class="flex-row">
            <img src="../../../assets/logo.svg" alt="logo">
            <h1>Treffpunkt</h1>
        </div>
        
    
        
    </div>
    
</mat-toolbar>