<mat-toolbar color="primary" class="example-toolbar">
    <div class="flex-row-space">
        <button mat-mini-fab color="accent" (click)="toggleSidenav()" matTooltip="Toggle sidenav">
            <mat-icon [class.hide]="snavservice.toggled">chevron_right</mat-icon>
            <mat-icon [class.hide]="!snavservice.toggled">chevron_left</mat-icon>
        </button>

        <div class="flex-row margin-left menu">
            <button mat-button (click)="open('/dashboard')">
                <mat-icon>home</mat-icon> Dashboard
            </button>
            <button mat-button (click)="open('/kunden')">
                <mat-icon>contact_mail</mat-icon> Kunden
            </button>
            <button mat-button (click)="open('/auftraege')">
                <mat-icon>description</mat-icon> Aufträge
            </button>
            <button mat-button (click)="open('/produkte')">
                <mat-icon>sell</mat-icon> Produkte
            </button>
            <button mat-icon-button color="secondary" aria-label="dark mode icon" (click)="changeTheme()" matTooltip="Change Theme">
                <mat-icon *ngIf="themeService.darkTheme">light_mode</mat-icon>
                <mat-icon *ngIf="!themeService.darkTheme">dark_mode</mat-icon>
            </button>
        </div>


        <div class="flex-row">
            <span class="logo">Treffpunkt</span>
        </div>



    </div>

</mat-toolbar>